/* src/App.css */

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: var(--font-body);
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
